* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
li, ul {
    list-style: none;
}
p, a, h1, span, li {
    font-weight: 100;
}
a {
    text-decoration: none;
    color: #000;
}
#wrap {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
}

/* main_img */
#main_img {
    width: 960px;
    height: 1080px;
    float: left;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* section */
#section {
    width: 960px;
    height: 1080px;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #000;
}
#main_title {
    width: 960px;
    height: 230px;
    float: left;
    padding: 50px;
    box-sizing: border-box;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#main_title h1 {
    font-size: 60px;
}
#main_title p {
    font-size: 50px;
}


#subpg {
    width: 960px;
    height: 520px;
    float: left;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
#subpg .site ul {
    width: 960px;
    height: 520px;
    position: absolute;
}
#subpg .site ul li {
    width: 960px;
    height: 520px;
    position: absolute;
}
#subpg .site li>img {
    object-fit: cover;
}
#subpg .site ul li:nth-child(1) {
    left: 0;
}
#subpg .site ul li:nth-child(2) {
    left: 100%;
}
#subpg .site ul li:nth-child(3) {
    left: 200%;
}
#subpg .site ul li:nth-child(4) {
    left: 300%;
}
#subpg .site ul li img {
    width: 100%;
}
#subpg .title {
    float: right;
    text-align: right;
    top: 100px;
    right: 50px;
    position: absolute;
}
#subpg .title h1 {
    font-size: 50px;
}
#subpg .title p {
    font-size: 50px;
}
#subpg .title span {
    font-size: 20px;
}
#subpg .pg_button ul{
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 0;
    right:0;
}
#subpg .pg_button ul li {
    width: 50px;
    height: 50px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    float: left;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    cursor: pointer;
}
#subpg .pg_button a {
    display: block;
}
#subpg .pg_button li.on {
    background-color: #000;
}
#subpg .pg_button li.on a {
    color:#fff;
}


#contents {
    width: 960px;
    height: 280px;
    position: relative;
}
#contents .add_txt {
    width: 640px;
    height: 280px;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #000;
}
#contents .add_txt p {
    font-size: 20px;
    margin: 50px;
}
#contents .number {
    width: 320px;
    height: 280px;
    box-sizing: border-box;
    float: left;
}
#contents .number ul {
    margin-top: 50px;
    margin-left: 70px;
}
#contents .number ul li {
    font-size: 20px;
    margin-bottom: 10px;
}



#footer {
    width: 1920px;
    height: 50px;
    clear: both;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    border: 1px solid #000;
    background-color: #f2f2f2;
}
#footer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 50px;
}
#footer a {
    font-weight: 100;
}